body {
    margin: 0;
    padding: 0;
    background-color: rgb(237, 237, 237);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    min-width: 400px;
}

#header-section {
    background-color: #644af6;
    display: flex;

    flex-direction: column;
    padding: 1rem;
    color: white;
}

h1 {
    font-size: 2.5rem;
    font-weight: 400;
    margin: .5rem;
}

#to-convert {
    width: 8rem; 
    height: 4rem;
    margin: 1rem auto 0;
    border-radius: 5px;
    border: 5px solid white;
    font-size: 2rem;
    text-align: center;
}

#to-convert:focus {
    outline: solid 1px red;
}

#convert-btn {
    font-size: 1.25rem;
    color: #ffffff;
    margin: 1rem auto 1rem;
    background-color: #644af6;
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: .25rem .75rem;
}

#convert-btn:hover {
    color: #644af6;
    background-color: #ffffff;
    border: 1px solid #644af6;
}

.output-box {
    background-color: white;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
}

h2 {
    color: #644af6;
    font-weight: 400;
    font-size: larger;
}

h3 {
    color: rgb(135, 135, 135);
    font-weight: 400;
    font-size: large;
}
